<ul
  class='py-2 px-2 text-sm text-gray-700 dark:text-gray-200'
  aria-labelledby='dropdownDefaultButton'
>
  <li
    class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
    hx-get='/loginView'
    hx-trigger='click'
    hx-target='#mainContent'
  >
    <div class='grid grid-cols-3 place-content-around'>
      <a class='font-bold self-center col-span-2'>Log in</a>
      <svg
        class='h-8 w-8 text-black'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
      >
        <path d='M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4' />
        <polyline points='10 17 15 12 10 7' />
        <line x1='15' y1='12' x2='3' y2='12' />
      </svg>
    </div>
  </li>
</ul>