@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    button {
        background-color: rgb(56, 93, 161);
        text-align: center;
        text-decoration: none;
        color: rgb(255 255 255);
        display: inline-block;
        font-weight: bold; 
        margin-top: 2rem; /* 32px */
        padding-top: 0.5rem; /* 8px */
        padding-bottom: 0.5rem; /* 8px */
        padding-left: 1rem; /* 16px */
        padding-right: 1rem; /* 16px */
        border-radius: 500px;
    }

    button:disabled {
        background-color: rgb(213, 198, 241);
        color: rgb(255 255 255);
        cursor: none
    }
    
    h2 {
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
        text-align: center;
        color: indigo;
    }

    h1 {
        font-weight: 300;
        margin-bottom: 1rem;
        text-align: left;
    }

    .htmx-indicator{
        display:none;
    }
    .htmx-request .htmx-indicator{
        display:inline;
    }
    .htmx-request.htmx-indicator{
        display:inline;
    }
}